/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
  font-family: 'Segoe UI Light';
  src:url('fonts/Segoe UI historic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Solar-Bold';
  src: url('fonts/Solar_Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Segoe Semibold Italic';
  src: url('fonts/segoe-ui-semibold-italic.ttf');
}

nav{
  height: 270px;
}
nav ul a{
  color:#e3b2b2;
  font-family: 'Segoe UI Light';
  font-size: large;
}
nav .brand-logo {
  color: #444;
}
nav .brand-logo img{
  max-height: 250px;
}
nav .nav-wrapper ul{
  margin-top: 180px;
}
p {
  line-height: 2rem;
}
.banner01 {
  background-color: #e3b2b2;
  height: 650px;
}
.banner01 .base{
  margin-top: 2%;
  margin-left: 18%;
  max-height: 90%;
}
.banner02 {
  background-color: #b6d2c3;
  height: 300px;
  width: 100%;
}
.banner02 p{
  font-family: 'Solar-Bold';
  margin-left: 58%;
  font-size: 700%;
  color: #faf8e7;
  font-weight:lighter;
}
.banner02-2{
  background-color: white;
  height: 650px;
  width: 100%;
}
.banner02-3{
  background-color: #faf8e7;
  height: 850px;
  width: 90%;
  margin-top: -20%;
  margin-left: 150px;
}
.sidenav-trigger {
  color: #26a69a;
}
.flor_1{
  position: absolute;
  margin-top: 0%;
  margin-left: -1%;
  left:50%;
  width: 18%;
  min-width: 18%;
}
.bird{
  position: absolute;
  top: 50%;
  left:  calc(60% - var(--y)/40);
  max-width: calc(400px - var(--y)/40);
}
.social-net-icons{
  position: fixed;
  top: 40%;
}
.social-net-icons ul li img{
  width: 50%;
}
.img04{
  margin-left: 10%;
  margin-top: -13%;
  width: 33%;

}
.fusca{
  margin-left: 60%;
  margin-top: -35%;
  width: 40%;
}
.mulher{
  margin-left: -10%;
  width: 30%;
  position: absolute;
}
.folha{
  margin-top: -5%;
  width: 15%;
}
.inspiration{
  width: 50%;
}
.inspiration p{
  font-size: 250%;
  margin-left: 10%;
}
.pattern-designer{
  margin-left: 10%;
  margin-top: 5%;
}
.vejamais{
  font-family: 'Segoe Semibold Italic';

}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
